.main {
  padding: 0;
}

a, a:hover {
  text-decoration: none;
  color: #fff;
}
/* navbar style */
.navbar, .navbar-collapse {
  background-color: #262626;
  border: 0;
  min-height: 80px;
}

.navbar-collapse {
  
}

/*collapsed menu style*/
.in ul, .collapsing ul {
  min-height: 80px;
  width: 100%;
  text-align: center;
}
/*end collapsed menu*/
.navbar > .container {
  padding-top: 1.5%;
}

.navbar h1 {
  display: inline;
  font-family: 'Abril Fatface', cursive;
  font-size: 320%;
  color: #fff;
}

.navbar-nav {
  float: right;
}

.navbar-default .navbar-nav > li > a {
  font-size: 112%;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  color: #fff;
  letter-spacing: 1.5px;
  transition: all 0.3s;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #8cc63e;
}

/*styling for green outline button*/
.navbar-default .navbar-nav > li.button > a {
  border: 1px solid #8cc63e;
  letter-spacing: 3px;
}

.green {
  color: #8cc63e;
}
/* end navbar style */

/* banner */
.banner {
  padding: 0;
}

.banner img {
  width: 100%;
}
/* end banner */