.main {
  padding: 0;
}

a, a:hover {
  text-decoration: none;
  color: #fff;
}
/* navbar style */
.navbar {
  background-color: #262626;
  border: 0;
  height: 90px;
}

.navbar > .container {
  padding-top: 1.5%;
}

.navbar h1 {
  display: inline;
  font-family: 'Abril Fatface', cursive;
  font-size: 340%;
  color: #fff;
}

.nav-text {
  font-size: 112%;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding: 17px 26px;
  float: right;
  color: #fff;
  letter-spacing: 1.5px;
}

.nav-text > a {
  transition: all 0.3s;
}

.nav-text:hover > a {
  color: #8cc63e;
}

/*styling for green outline button*/
.button {
  border: 1px solid #8cc63e;
  letter-spacing: 3px;
}

.green {
  color: #8cc63e;
}
/* end navbar style */

/* banner */
.banner {
  padding: 0;
}

.banner img {
  width: 100%;
}
/* end banner */